prometheus:
  prometheusSpec:
    storageSpec:
      volumeClaimTemplate:
        spec:
          accessModes:
            - ReadWriteMany
          storageClassName: nfs-media
          resources:
            requests:
              storage: 1Gi
    additionalScrapeConfigs:
      - job_name: "pve"
        scrape_interval: 15s
        metrics_path: /pve
        params:
          module: [default]
          node: ["pve-home"]
        static_configs:
          - targets: ["ip:8006"] # Proxmox node itself
        relabel_configs:
          - source_labels: [__address__]
            target_label: __param_target
          - source_labels: [__param_target]
            target_label: instance
          - target_label: __address__
            replacement: "pve-exporter.monitoring.svc.cluster.local:9221"

grafana:
  persistence:
    enabled: true
    accessModes:
      - ReadWriteMany
    storageClassName: nfs-media
    size: 5Gi

defaultRules:
  create: false

alertmanager:
  alertmanagerSpec:
    configSecret: alertmanager-config