ports:
  web:
    port: 80
    redirections:
      entryPoint:
        to: websecure
  websecure:
    port: 443

ingressRoute:
  dashboard:
    enabled: true
    matchRule: Host(`traefik.homelab.local`)
    entryPoints:
      - web
      - websecure
    middlewares:
      - name: dashboard-auth

service:
  type: LoadBalancer
  spec:
    loadBalancerIP: ip # That tells MetalLB to use ip for this LoadBalancer service.
